
#center {
  float: left;
   font-style: normal;
   width: 30%;
   position: absolute;
  text-transform: capitalize;
   height: 0%;
   padding-right: 0%;
    background-color: gainsboro
    
}
#myHeader{
  float: initial;
  padding: 40px;
  text-align: center;
  padding-top: 6%
}

#container{
  width: 70%;
  float: right;
  position: relative;
  text-transform: capitalize;
  padding-left: 10%;
   font-style: normal;
   background-color: grey;
  } 

body {
  justify-content: space-around;
}

.Date {
  padding-left: 80%;
}



